@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html{
    font-family: 'PT Sans Narrow', sans-serif;
    margin:;
}

.logo{
    padding: 0 40px;
    line-height: 80px;
}

.imglogo{
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    overflow:hidden;
    background-color: white;
    width: 100%;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    position: fixed;
    z-index: 100;
}

nav ul li a{
    display: block;
}

.nav_links{
    margin-right: 40px;
    display: flex;
    list-style: none;
    background-color: white;
    float: ;
}

li, a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;
}


.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    padding-top: 50px;
    background-color: white;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    background-color: white;
}

.nav_links li a:hover{
    color: #EC061D;
    background-color: white;
}


.portada{
    display: block;
    margin: auto;
    width: 1200px;
    height: 600px;
    border-radius:10px;
}

.tabla{
    margin: auto;
    width: 80%;
}

.caja{
    background: white; 
    color:white; 
    padding: 15px; 
    border:3px solid #EC061D; 
    text-align: center;
    font-size:22px; 
    width: 260px;
    border-radius:10px;
}

.lista{
    list-style: none;
}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: #EC061D;
}

.titulo_caja{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: black;
}

.carrousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
  
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
  
div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius:10px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
  
div.item:nth-of-type(1) {
    --offset: 1;
    background-color: white;
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}
div.item:nth-of-type(2) {
    --offset: 2;
    background-color: white;
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}
div.item:nth-of-type(3) {
    --offset: 3;
    background-color: white;
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: white;
    border:3px solid #D7D9D8; 
    padding: 20px;
    padding-top:0%;
    text-align: justify;
}


input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

  
.imgcar{
    width: 150px;
    height: 90px;
}
  
hr{
   width: 80%;

}


.cursos_rapidos{

    text-align: center;

}

.cursos_rapidos a{

    text-align: center;
    color: #EC061D;
    font-size: 25px;
    padding: 20px;
    
}

